html {
	overflow-x: hidden;
	overflow-y: hidden;
}

#numberofImages {
	border: none;
	border-bottom: solid 3px #333;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

#numberofImages:focus {
	border-bottom: solid 3px #ccc;
}

/* #tag-input {
	visibility: hidden;
}

#hide {
	visibility: hidden;
} */

/*NOTE - For the error message that are within the form*/
.error-text {
	color: red;
	font-size: 10pt;
	visibility: hidden;
}

#error-message-fetching {
	color: white;
	font-weight: bold;
	position: relative;
	top: -150px;

	/* display: none; */
}

.nav-link {
	color: #333 !important;
}

.nav-link .active {
	background-color: blanchedalmond !important;
}
