html {
	overflow-x: hidden;
	overflow-y: hidden;
}

#numberofImages {
	border: none;
	border-bottom: solid 3px #333;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

#numberofImages:focus {
	border-bottom: solid 3px #ccc;
}

/* #tag-input {
	visibility: hidden;
}

#hide {
	visibility: hidden;
} */

/*NOTE - For the error message that are within the form*/
.error-text {
	color: red;
	font-size: 10pt;
	visibility: hidden;
}

#error-message-fetching {
	color: white;
	font-weight: bold;
	position: relative;
	top: -150px;

	/* display: none; */
}

.nav-link {
	color: #333 !important;
	font-weight: bold !important;
}

.active {
	background-color: rgba(3, 47, 100, 0.2) !important;
}

/*SECTION - FORM CONTENT */
label {
	color: #032f64;
	font-weight: 600;
}

#noImages,
#size,
#sayTextValue,
#color {
	border: none !important;
	border-bottom: #032f64 solid 1px !important;
}

#sayTextValue:disabled,
#color:disabled {
	background-color: rgba(3, 47, 100, 0.5) !important;
	border: none !important;
}

/*!SECTION */

footer {
	border-top: solid #032f64 1px;
}
