#numberofImages {
	border: none;
	border-bottom: solid 3px #333;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

#numberofImages:focus {
	border-bottom: solid 3px #ccc;
}

#tag-input {
	visibility: hidden;
}

#hide {
	visibility: hidden;
}
